<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="loginuser">Login User:</label>
        <input type="text" id="loginuser" name="loginuser" required><br>
        <label for="loginpassword">Password:</label>
        <input type="password" id="loginpassword" name="loginpassword" required><br>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
</body>
</html>
