<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <label for="loginuser">Login User:</label>
        <input type="text" id="loginuser" name="loginuser" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="loginpassword">Password:</label>
        <input type="password" id="loginpassword" name="loginpassword" required><br>
        <button type="submit">Register</button>
    </form>
    <a href="/login">Login</a>
</body>
</html>
